{% extends 'base.html.twig' %}
{% block body %}
    {% for orders in order %}

        <p>klant: {{ orders.fname }} {{ orders.lname }}</p>
{#        <p>order: {{ product }}</p>#}
        <p>bestelling: {{ orders.pizza.name }}, {{ orders.size.name }}</p>
    {% endfor %}

{% endblock %}