{% extends 'base.html.twig' %}

{% block title %}Pizza's{% endblock %}

{% block body %}
    <div class="container">
{#        <div class="default-card">#}
{#            <div class="col-sm-12 col-md-9 col-lg-4">#}
{#                <div class="card">#}
{#                    <div class="card-body">#}
{#                        <p>test</p>#}
{#                        <img class="card-img img-fluid" src="img/#" alt="pizza">#}
{#                        <p class="card-text">Bekijk de lekkerste test pizza's.</p>#}
{#                        <a href="#" class="btn btn-danger">Bestel test pizza</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        {# dit werkt niet waarom weet ik niet op school voor de vakantie deed het het wel #}
        {# wat het hoord te doen is alle producten te laten zien die in de database staan met de goede category.id #}
        {% for product in products %}
            <div class="card-deck">
                <div class="row">
                    <div class="col-sm-12 col-md-9 col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <p>{{ product.name }}</p>
                                <img class="card-img img-fluid" src="img/{{ product.name }}" alt="pizza {{ product.name }}">
                                <p class="card-text">Bekijk de lekkerste {# {{  category.name  }} #}pizza's.</p>
                                <a href="{{ path('app_order', { id: product.id }) }}" class="btn btn-danger">Bestel {{ product.name }} pizza</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}